/* color palette */
:root {
  --color-base-1: #ffffff;
  --color-base-1-soft: #f3f3f3;
  --color-base-1-mute: #ededed;
  --color-base-1-fade: #f8f8f8ab;
  --color-base-1-fade-a: #f8f8f8d6;
  --color-base-1-fade-b: #f2f2f2c6;
  --color-base-1-fade-c: #f2f2f2e8;

  --color-base-2: #030622;
  --color-base-2-hard: #020313;
  --color-base-2-soft: #050a38;
  --color-base-2-fade: #030622ab;
  --color-base-2-fade-a: #030622d6;
  --color-base-2-fade-b: #050a38c6;
  --color-base-2-fade-c: #050a38e8;

  --color-contrast-1: #2b89ed;
  --color-contrast-2: #57de43;
  --color-contrast-3: #2973e9;
  --color-soft-opacity-dark: rgba(0, 0, 0, 0.1);
  --color-soft-opacity-light: rgba(255, 255, 255, 0.1);
}

/* semantic color variables for this project */

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-base-2-hard);
    --color-body-text: var(--color-base-1-mute);
    --color-title-text: var(--color-contrast-1);
    --color-herotitle-text: var(--color-base-1);
    --color-border: var(--color-contrast-2);
    --color-link: var(--color-base-1-soft);
    --color-link-active: var(--color-contrast-2);
    --color-shadow: var(--color-soft-opacity-light);
    --color-box-background: var(--color-base-2-fade);
    --color-box-background-a: var(--color-base-2-fade-a);
    --color-box-border: var(--color-base-2-fade-b);
    --color-box-border-a: var(--color-base-2-fade-c);
    --color-footer-background: var(--color-base-2);
  }
}
:root {
  --color-background: var(--color-base-1);
  --color-body-text: var(--color-base-2-soft);
  --color-title-text: var(--color-contrast-1);
  --color-herotitle-text: var(--color-contrast-3);
  --color-border: var(--color-contrast-2);
  --color-link: var(--color-contrast-1);
  --color-link-active: var(--color-contrast-2);
  --color-shadow: var(--color-soft-opacity-dark);
  --color-box-background: var(--color-base-1-fade);
  --color-box-background-a: var(--color-base-1-fade-a);
  --color-box-border: var(--color-base-1-fade-b);
  --color-box-border-a: var(--color-base-1-fade-c);
  --color-footer-background: var(--color-base-1-mute);
}

.dark {
  --color-background: var(--color-base-2-hard);
  --color-body-text: var(--color-base-1-mute);
  --color-title-text: var(--color-contrast-1);
  --color-herotitle-text: var(--color-base-1);
  --color-border: var(--color-contrast-2);
  --color-link: var(--color-base-1-soft);
  --color-link-active: var(--color-contrast-2);
  --color-shadow: var(--color-soft-opacity-light);
  --color-box-background: var(--color-base-2-fade);
  --color-box-background-a: var(--color-base-2-fade-a);
  --color-box-border: var(--color-base-2-fade-b);
  --color-box-border-a: var(--color-base-2-fade-c);
  --color-footer-background: var(--color-base-2);
}
