/* color palette */
:root {
  --color-base-1: #ffffff;
  --color-base-1-soft: #f8f8f8;
  --color-base-1-mute: #f2f2f2;

  --color-base-2: #030622;
  --color-base-2-hard: #020313;
  --color-base-2-soft: #050a38;

  --color-contrast-1: #5271ff;
  --color-contrast-2: #57de43;
  --color-contrast-3: #002bed;
}

/* semantic color variables for this project */

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-base-2-hard);
    --color-body-text: var(--color-base-1-mute);
    --color-title-text: var(--color-contrast-1);
    --color-herotitle-text: var(--color-contrast-3);
    --color-border: var(--color-contrast-2);
    --color-link: var(--color-base-1-soft);
  }
}
:root {
  --color-background: var(--color-base-1);
  --color-body-text: var(--color-base-2-soft);
  --color-title-text: var(--color-contrast-1);
  --color-herotitle-text: var(--color-contrast-3);
  --color-border: var(--color-contrast-2);
  --color-link: var(--color-contrast-1);
}

.dark {
  --color-background: var(--color-base-2-hard);
  --color-body-text: var(--color-base-1-mute);
  --color-title-text: var(--color-contrast-1);
  --color-herotitle-text: var(--color-contrast-3);
  --color-border: var(--color-contrast-2);
  --color-link: var(--color-base-1-soft);
}
